<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="home-container">
        <h2>Welcome, Student</h2>
        <h3>Available PDFs</h3>
        <ul>
            {% for filename in files %}
                <li><a href="{{ url_for('static', filename='uploads/' ~ filename) }}" target="_blank">{{ filename }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
